.container {
  display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
  // flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #cceef2;
  min-height: 100vh;
}

.element {
  width: 150px;
  height: 150px;
  background-color: #0eb4de;
  margin: 5px;
}
